[submodule "src/gnome-terminal-colors-dracula"]
	path = src/gnome-terminal-colors-dracula
	url = https://github.com/GalaticStryder/gnome-terminal-colors-dracula
[submodule "src/mintty"]
	path = src/mintty
	url = https://github.com/dracula/mintty.git
[submodule "src/iterm"]
	path = src/iterm
	url = https://github.com/dracula/iterm.git
[submodule "src/xcode"]
	path = src/xcode
	url = https://github.com/dracula/xcode.git
