[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Flat-Plat"]
	path = Flat-Plat
	url = https://github.com/nana-4/Flat-Plat.git
[submodule "Flat-Remix"]
	path = Flat-Remix
	url = https://github.com/daniruiz/Flat-Remix.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "ycmd"]
	path = ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule "vim/colors/vim-one"]
	path = vim/colors/vim-one
	url = https://github.com/rakr/vim-one.git
