"*":
  "autocomplete-python":
    outputProviderErrors: true
    useKite: false
  build:
    panelVisibility: "Keep Visible"
  "build-cmake":
    build_dir: "$PROJECT_DIR/build"
    cmake_arguments: " -DCMAKE_BUILD_TYPE=Release"
  "clang-format":
    style: "Webkit"
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 16
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "123413d9-bcd9-293b-4a54-71da920eeae4"
  linter:
    errorPanelHeight: 103
  "python-autopep8":
    formatOnSave: true
  welcome:
    showOnStartup: false
  "you-complete-me":
    globalExtraConfig: "~/.ycm_extra_conf.py"
    ycmdPath: "/home/aaron/YouCompleteMe/third_party/ycmd"
